*.iml
.gradle
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
.DS_Store
/build/
**/build/
**/.gradle/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
